@model IEnumerable<VMA.CadeMeuMedico.Models.Medicos>

@{
    ViewBag.Title = "Listagem de Médicos";
}

<h2>Médicos</h2>

<p>
    @*@Html.ActionLink("Adicionar novo médico", "Adicionar", null, new { @class = "btn btn-success" })*@

    <a href="@Url.Action("Adicionar")" , class="btn btn-success">
        <i class="fa fa-plus"></i> Médico
    </a>

</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidades)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidades)
        </th>
        <th>Ações</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidades.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidades.Nome)
            </td>
            <td>
                <div class="hidden-xs">
                    @Html.ActionLink("Editar", "Editar", new { id = item.IDMedico }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = item.IDMedico }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Excluir", "Excluir", new { id = item.IDMedico }, new { @class = "btn btn-danger" })
                </div>
                <div class="visible-xs">
                    <a href="@Url.Action("Editar",  new { id = item.IDMedico })" class="btn btn-primary" title="Editar">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>

                    <a href="@Url.Action("Detalhes",  new { id = item.IDMedico })" class="btn btn-default" title="Detalhes">
                        <i class="fa fa-search-plus"></i>
                    </a>

                    <a href="@Url.Action("Excluir",  new { id = item.IDMedico })" class="btn btn-danger" title="Excluir">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </td>
        </tr>
    }

</table>
