@model IEnumerable<VMA.CadeMeuMedico.Models.Medicos>
@{
    ViewBag.Title = "Index";
}

@BannersPublicitarios.RetornaDoisBannersMaisRecentes()


<div class="container">

    @*<h2>Médicos disponíveis</h2>

        <div class="row">
            <div id="table_medicos">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cidades)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Especialidades)
                        </th>
                    </tr>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cidades.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Especialidades.Nome)
                                </td>

                            </tr>
                        }
                    }
                </table>
            </div>
        </div>

        <hr />*@

    <h2>Pesquisar médicos</h2>
    <div class="row">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="cidade" class="col-md-2 control-label">Cidade:</label>
                <div class="col-md-8">
                    @if (ViewBag.Especialidades != null)
                    {
                        @Html.DropDownList("IDCidade", (IEnumerable<SelectListItem>)ViewBag.Cidades, "Selecione uma cidade", new { @class = "form-control" })
                    }
                </div>
            </div>


            <div class="form-group">
                <label for="especialidade" class="col-md-2 control-label">Especialidade:</label>
                <div class="col-md-8">
                    @if (ViewBag.Especialidades != null)
                    {
                        @Html.DropDownList("IDEspecialidade", (IEnumerable<SelectListItem>)ViewBag.Especialidades, "Selecione uma especialidade", new { @class = "form-control" })
                    }
                </div>
            </div>
        </form>
    </div>

</div>
@section script{
    <script>

        @*$(document).ready(() => {

            $('#IDCidade').change(() => {
                var IDCidade = $('#IDCidade').val();
                $('#IDEspecialidade').empty;
            });

            $.get('@Url.Action("ListarEspecialidades")', { "IdCidade": IDCidade },
                (data, status, jqXHR) => {
                    var especialidades = data.Especialidades;
                    $('#IDEspecialidade').append($('<option>',
                        {
                            value: null,
                            text: "Selecione uma especialidade"
                        }));
                    especialidades.forEach(e => {
                        $('#IDEspecialidade').append($('<option>',
                            {
                                value: e.IDEspecialidade,
                                text: e.Nome
                            }));
                    });
                }
            ).fail(
            () => {
                console.log('Erro');
            }
            );
        })*@

    </script>
}